html{
  overflow-y: hidden !important;

}

.image-panel{
  background-color: yellow;
  background-image: url('/assets/background_sprod.png');
  background-size: cover;
  background-position: center;
  height: 19vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

ion-content{
  --background: #EFEFEF;
}


.title{
  font-size: 5em;
  font-family: Inria Sans;
  font-weight: bold;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: transparent;

}

.background span{
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: "Inria Sans", sans-serif;
  font-weight: 900;
  font-style: Bold;
}


.products-nav{
  background: #EFEFEF;
  width: 100%;
  box-shadow: 0px 0px 7.5px black;
  color: black;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inria Sans;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-family: 'Inria Sans', Roboto, Arial;
  padding: 1em;
  text-align: center;
  margin: auto;
  box-shadow: 0px 0px 7.5px black;
  padding-bottom: 100vh;


}

.background p {
  font-size: 1.5em;
  padding: 0 1em;
  text-align: justify;
  line-height: 1.5em;
  width: 50vw;
}

@media (max-width: 830px){


  .background p{
    font-size: 1em;
    padding: 0;
  }
}

