<ion-content [fullscreen] = "true">
<nav class="nav-bar">
  <div class="tech-top">
    <P><a [routerLink]="['/home']" routerLinkActive="router-link-active">TECH<span>TOP</span></a></P>
  </div>

  <div class="nav-items">
    <ul>
      <li><a [routerLink]="['/product-general']" routerLinkActive="router-link-active">PRODUCTS</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">ABOUT US</a></li>
      <li><a [routerLink]="['/cart']">CART</a></li>
    </ul>
  </div>
</nav>
<app-phone-nav></app-phone-nav>

<!--Main Contents Below-->

  <div class="image-panel">
  <div class="overlay"></div>
  <p class="title">PRODUCTS</p>
</div>

<div class = "background">
<div class="main">
  <div class="box box1" [routerLink]="['../product-laptop']">
    <h2>LAPTOPS</h2>
  </div>
  <div class="box box2" [routerLink]="['../product-pc']">
    <h2>PC</h2>
  </div>
  <div class="box box3" [routerLink]="['../product-consoles']">
    <h2>CONSOLES</h2>
  </div>
  <div class="box box4" [routerLink]="['../product-peripherals']">
    <h2>PERIPHERALS</h2>
  </div>
  <div class="box box5" [routerLink]="['../product-mobile']">
    <h2>MOBILE DEVICES</h2>
  </div>
  <div class="box box6" [routerLink]="['../product-smart']">
    <h2>SMART DEVICES</h2>
  </div>
</div>
</div>

</ion-content>
