<ion-content [fullscreen]="true">

<nav class="nav-bar">
  <div class="tech-top">
    <P><a [routerLink]="['/home']" routerLinkActive="router-link-active">TECH<span>TOP</span></a></P>
  </div>

  <div class="nav-items">
    <ul>
      <li><a [routerLink]="['/product-general']" routerLinkActive="router-link-active">PRODUCTS</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">ABOUT US</a></li>
      <li><a [routerLink]="['/cart']">CART</a></li>
    </ul>
  </div>
</nav>
<app-phone-nav></app-phone-nav>

<!--Main Contents Below-->
  <div id="body">
  <div id="container">
  <div class="banner">
    <img src="/assets/TECH_TOP_ICON.png" >
    <p>TECH TREASURES,</p>
    <strong>TOP DEALS.</strong>
    </div>
    <ion-button [routerLink]="['/product-general']">Shop Now</ion-button>
  </div>
  </div>

</ion-content>
