@media (max-width = 400){
  #container ion-button a{
    font-size: 15px;
  }
}

ion-content{
  font-family: Inria Sans;
}
//page style
//Button
#container ion-button{
 --border-radius: 5px;
 --background: white;
 color: black;
 width: 10em;
 height: 3em;
 font-family: "Inria Sans", sans-serif;
 font-weight: 700;
 font-style: bold;
 font-size: 30px;
}

.banner{
  margin-bottom: 1.5%;
}
